## Deliverable 3. Create a Travel Itinerary Map.

In [31]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [32]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()
clean_hotel_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Cabo San Lucas,MX,93.61,broken clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
1,11,Salalah,OM,75.38,overcast clouds,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
2,15,Atuona,PF,77.11,scattered clouds,-9.8000,-139.0333,Villa Enata
3,19,Kropotkin,RU,78.21,broken clouds,45.4375,40.5756,Hotel Europe Kropotkin
4,20,Yellowknife,CA,87.33,clear sky,62.4560,-114.3525,The Explorer Hotel
...,...,...,...,...,...,...,...,...
207,567,Pataskala,US,78.62,few clouds,39.9956,-82.6743,Rona Homes
208,573,Umm Lajj,SA,87.58,clear sky,25.0213,37.2685,Moon light Furnished Units
209,574,Bairiki,KI,82.33,broken clouds,1.3292,172.9752,Tarawa Boutique Hotel
210,576,Lagunillas,VE,88.65,few clouds,10.1301,-71.2595,Casa de Beatriz y Chucho
211,580,Wattegama,LK,76.12,overcast clouds,6.7989,81.4808,NaN

In [33]:
# 2. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{Description}</dd>
</dl>
"""
# 2a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 2b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [34]:
# 4a. Add a marker layer for each city to the map.
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(0, 0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=100, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = clean_hotel_df.loc[(clean_hotel_df["City"]=="Cabo San Lucas") & (clean_hotel_df["Country"]=="MX")]
vacation_end = clean_hotel_df.loc[(clean_hotel_df["City"]=="Cabo San Lucas") & (clean_hotel_df["Country"]=="MX")]
vacation_stop1 = clean_hotel_df.loc[(clean_hotel_df["City"]=="Salalah") & (clean_hotel_df["Country"]=="OM")]
vacation_stop2 = clean_hotel_df.loc[(clean_hotel_df["City"]=="Yellowknife") & (clean_hotel_df["Country"]=="CA")]
vacation_stop3 = clean_hotel_df.loc[(clean_hotel_df["City"]=="Atuona") & (clean_hotel_df["Country"]=="PF")]

In [36]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop2}')

Start: (22.8909, -109.9124), End: (22.8909, -109.9124)
Stop 1: (17.0151, 54.0924), Stop 2: (62.456, -114.3525), Stop 3: (62.456, -114.3525)

In [37]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
Salalah = (17.0151, 54.0924)
Yellowknife = (62.456, -114.3525)
Atuona = (62.456, -114.3525)

fig = gmaps.figure()
Vacation_tour = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],
                                        travel_mode="DRIVING")
fig.add_layer(Vacation_tour)
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Cabo San Lucas,MX,93.61,broken clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
1,11,Salalah,OM,75.38,overcast clouds,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
2,20,Yellowknife,CA,87.33,clear sky,62.4560,-114.3525,The Explorer Hotel
3,15,Atuona,PF,77.11,scattered clouds,-9.8000,-139.0333,Villa Enata
4,3,Cabo San Lucas,MX,93.61,broken clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos

In [39]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description}</dd>
<dt>Max Temp</dt>{Max Temp} ˚F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))